{
  "presets": [
    ["@babel/preset-env",
    {
      "shippedProposals": true,
      "bugfixes":true,
      "targets": {
        "chrome": "58",
        "node": "12"
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/transform-runtime"]
}
